<% include header.ejs %>
<div class="container">
    <div class="page-header">
        <h1>Write</h1>
    </div>
    <form action='/board/write' method="post">
        <!---------------------------->
        <!--Google-Test making start-->
        <!---------------------------->
        <div class="jumbotron">
            <div class="page-header">
                <h1>Setup</h1>
            </div>

            <!--Setup init-->
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h2 class="panel-title">Init</h2>
                </div>

                <div class="panel-body">
                    <div class="row">
                        <!--Title-->
                        <div class="form-group form-group-lg label-floating col-md-6">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="material-icons">edit</i> </span>
                                <label for="title" class="control-label">Title</label>
                                <input type='text' name='title' id="title" class="form-control" required>
                                <span class="help-block">Please input the Title..</span>
                            </div>
                        </div>
                        <!--Unit test-->
                        <div class="form-group form-group-lg label-floating col-md-6">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="material-icons">title</i> </span>
                                <label for="unittest" class="control-label">Unit Test</label>
                                <input type='text' name='unittest' id='unittest' class="form-control" required>
                                <span class="help-block">Please input the Unit test..</span>
                            </div>
                        </div>
                    </div>
                </div>

                <!--Classes-->
                <div class="panel-body">
                    <div class="form-group label-floating" id="dynamicInput_class">
                        <div class="row pull-left center-block" style="margin-bottom: 5%;">
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <label for="0" class="control-label">Class</label>
                                <input type='text' name='classes[]' id="0" class='form-control' required>
                                <span class="help-block">Please input the class(es)</span>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <button type="button" id="add_class" class="btn btn-fab btn-primary">
                                    <i class="material-icons">add</i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!--Setup code-->
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h2 class="panel-title">Code</h2>
                </div>
                <div class="panel-body">
                    <div class="form-group form-group-lg label-floating">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="material-icons">polymer</i> </span>
                            <label for="unittest" class="control-label">Setup Code</label>
                            <textarea class="form-control" rows="10" name='setupcode' required></textarea>
                            <span class="help-block">Please input the setup code..</span>
                        </div>
                    </div>
                </div>
            </div>

            <!--Setup table-->
            <div class="panel panel-inverse">
                <div class="panel-heading">
                    <h3 class="panel-title">Test</h3>
                </div>
                <!--<div class="panel-body">-->
                    <table class="table table-bordered table-striped table-hover form-group">
                        <thead>
                        <tr>
                            <th>Group</th>
                            <th>Function</th>
                            <th>Object</th>
                            <th>Helper</th>
                            <th>Input</th>
                            <th>Output</th>
                            <th>Test</th>
                        </tr>
                        </thead>
                        <tbody id="dynamicInput_group">
                        <tr id="1">
                            <td>
                                <div class="input-group">
                                    <input type='text' name='groups[]' class='form-control' placeholder="Group 1" required>
                                </div>
                            </td>
                            <td>
                                <div class="input-group">
                                    <input type='text'	name='functions[]' class='form-control' placeholder="Function 1" required>
                                    <span class="input-group-btn">
                                    <button type="button" class="btn btn-fab btn-fab-mini" id="add_func">
                                        <i class="material-icons">add</i>
                                    </button>
                                </span>
                                </div>
                            </td>
                            <td>
                                <div class="input-group">
                                    <input type='text' name='objects[]' class='form-control' placeholder="Object" required>
                                </div>
                            </td>
                            <td>
                                <div class="input-group" id="mod">
                                    <input type='text' name='helpers[]' class='form-control' placeholder="Helper" disabled>
                                </div>
                            </td>
                            <td>
                                <div class="input-group" id="mod">
                                    <input type='text' name='inputs[]' class='form-control' placeholder="Input 1" disabled>
                                    <span class="input-group-btn">
                                    <button type="button" class="btn btn-fab btn-fab-mini" id="add_input" disabled>
                                        <i class="material-icons">add</i>
                                    </button>
                                </span>
                                </div>
                            </td>
                            <td>
                                <div class="input-group">
                                    <input type='text' name='outputs[]' class='form-control' placeholder="Output 1" required>
                                </div>
                            </td>
                            <td>
                                <div class="input-group">
                                    <select class="selectpicker form-control" name="tests[]" required>
                                        <option value="O" data-icon='glyphicon-ok'></option>
                                        <option value="X" data-icon='glyphicon-remove'></option>
                                    </select>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>

                    <!--Add more group-->
                    <div class="form-group" style="padding-bottom: 0px;">
                        <button type="button" id="add_group" class="btn btn-inverse btn-block btn-raised well">
                            <i class="material-icons">add</i>
                        </button>
                    </div>
                <!--</div>-->
            </div>
        </div>
        <!-------------------------->
        <!--Google-Test making end-->
        <!-------------------------->


        <!---------------------------->
        <!--Assignment posting start-->
        <!---------------------------->
        <div class="jumbotron">
            <div class="page-header">
                <h1>Posting</h1>
            </div>
            <div class="panel panel-warning">
                <div class="panel-heading">
                    <h3 class="panel-title">글쓰기</h3>
                </div>
                <div class="panel-body">
                    <div class="form-group form-group-lg label-floating">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="material-icons">edit</i> </span>
                            <label for="subject" class="control-label">제목</label>
                            <input type='text' name='subject' id="subject" class="form-control" required>
                        </div>
                    </div>

                    <div class="form-group form-group-lg label-floating">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="material-icons">alarm</i> </span>
                            <label for="date" class="control-label">제출기한</label>
                            <input type="text" name="date" class="form-control" required>
                        </div>
                    </div>

                    <div class="form-group form-group-lg label-floating">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="material-icons">chat</i> </span>
                            <label for="content" class="control-label">내용 / 주의사항</label>
                            <textarea class="form-control" rows="10" name='content' required></textarea>
                        </div>
                    </div>

                    <div class="form-group form-group-lg label-floating">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="material-icons">flag</i> </span>
                            <label for="submit_form" class="control-label">제출양식</label>
                            <input type='text' name='submit_form' id="submit_form" class="form-control" required>
                        </div>
                    </div>

                    <div class="form-group form-group-lg label-floating">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="material-icons">attachment</i> </span>
                            <label for="attachment" class="control-label">첨부파일</label>
                            <input type='file' name='attachment' id="attachment" class="form-control">

                            <input type="text" readonly="" class="form-control">
                            <span class="input-group-btn input-group-sm">
                              <button type="button" class="btn btn-fab btn-fab-mini btn-danger">
                                <i class="material-icons">attach_file</i>
                              </button>
                            </span>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <!-------------------------->
        <!--Assignment posting end-->
        <!-------------------------->

        <!--Submit-->
        <!--<hr style="border-color: deeppink;">-->
        <div class="form-group" style="">
            <button type="submit" class="btn btn-success btn-fab btn-block well">
                <i class="material-icons">send</i>
            </button>
        </div>
    </form>

    <p>To easily setup file uploading in an Express.js server application you can use <a href="https://github.com/expressjs/multer">Multer.js</a></p> <p>Start by installing required node dependencies:</p> <pre>npm init npm install -S express multer body-parser jade</pre> <p>Setup basics for your Express.js application:</p> <pre><small><span style="color:#A9A9A9">// <strong>index.js</strong> start of file</span></small> var express = require('express'); var multer = require('multer'), bodyParser = require('body-parser'), path = require('path'); var app = new express(); app.use(bodyParser.json()); // view engine setup app.set('views', path.join(__dirname, 'views')); app.set('view engine', 'jade');</pre> <p> </p> <p>Setup route for GET request, where the form will be displayed:</p> <pre><span style="color:rgb(169, 169, 169)"><small>// <strong>index.js</strong> continued</small> </span>app.get('/', function(req, res){ res.render('index'); }); </pre> <p> </p> <p>Create your form for file uploading, don't forget the <code>enctype="multipart/form-data"</code> for the <code>form</code> tag</p> <pre><span style="color:rgb(169, 169, 169)"><small>//- views/index.jade</small></span> html head title body form(method="post",enctype="multipart/form-data",action="/") p input(type="text",name="title",placeholder="title") p input(type="file",name="upl") p input(type="submit") </pre> <p> </p> <p>Setup route for POST request, the <code>action</code> field of the form:</p> <pre><span style="color:rgb(169, 169, 169)"><small>// <strong>index.js</strong> continued </small></span>app.post('/', <strong>multer({ dest: './uploads/'}).single('upl')</strong>, function(req,res){ console.log(req.body); //form fields <span style="color:#A9A9A9">	/* <small>example output:</small> { title: 'abc' } */</span> console.log(req.file); //form files <span style="color:#A9A9A9">	/* <small>example output: { fieldname: 'upl', </small></span>            <span style="color:#A9A9A9"><small>  originalname: 'grumpy.png', </small></span>            <span style="color:#A9A9A9"><small>  encoding: '7bit', </small></span>            <span style="color:#A9A9A9"><small>  mimetype: 'image/png', </small></span>            <span style="color:#A9A9A9"><small>  destination: './uploads/', </small></span>            <span style="color:#A9A9A9"><small>  filename: '436ec561793aa4dc475a88e84776b1b9', </small></span>            <span style="color:#A9A9A9"><small>  path: 'uploads/436ec561793aa4dc475a88e84776b1b9', </small></span>            <span style="color:#A9A9A9"><small>  size: 277056 }</small> */</span> res.status(204).end(); }); </pre> <p>Note, that the <code>dest</code> parameter is relative to the server root folder, that is where the <code>index.js</code> is located.</p> <p> </p> <p>Finally, start listening</p> <pre><small><span style="color:#A9A9A9">// <strong>index.js</strong> end of file</span></small><span style="color:rgb(169, 169, 169)"> </span>var port = 3000; app.listen( port, <span style="color:#808080">function(){ console.log('listening on port '+port); }</span> );</pre> <p> </p> <p>And run the server:</p> <pre>node index</pre> <p> </p> <p>Test it by uploading a file and find the uploaded file in the <code>uploads</code> folder. Multer will rename the file to a unique name to prevent collisions, so you will want to save the data from the <code>req.files</code> to your data store.</p> <p> </p>
</div>






<% include footer.ejs %>

<!--Moment.js-->
<script type="text/javascript" src="//cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>

<!-- Date Range Picker -->
<script type="text/javascript" src="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.js"></script>

<!--jQuery Script-->
<script>
//  Highlight.js Init.
    hljs.initHighlightingOnLoad();

//  Bootstrap-Materialized Init.
    $.material.init();

//  jQuery Script - Add input fields dynamically.
    $(document).ready(function () {
        var idx_class = 1;
        var idx_group = 1;
        var idx_func = 1;
        var idx_io =  1;

        $('#add_class').click(function () {
            $('#dynamicInput_class').append(
                    "<div id='"+idx_class+"' class='row pull-left center-block' style='margin-bottom: 5%'>" +
                    "<div class='col-md-6 col-lg-6'>" +
                    "<input type='text' id='"+idx_class+"' placeholder='Class' name='classes[]' class='form-control'></div>" +
                    "<div class='col-md-6 col-lg-6'>" +
                    "<button type='button' id='"+idx_class+"' class='btn btn-danger btn-fab btn_remove'><i class='material-icons'>remove</i> </button></div></div>"
            );
            idx_class++;
        });

        $(document).on('click', '#add_group', function(e){
            idx_group++;
            idx_func = 1;
            idx_io = 1;

            var replacements = {"%GROUP%":idx_group,"%FUNC%":idx_func,"%IO%":idx_io};
            var group = "<tr> <td> <div class='input-group'> <input type='text' name='groups[]' class='form-control' placeholder='Group %GROUP%'> </div> </td> <td> <div class='input-group'> <input type='text' name='functions[]' class='form-control' placeholder='Function %FUNC%'> <span class='input-group-btn'> <button type='button' class='btn btn-fab btn-fab-mini' id='add_func'> <i class='material-icons'>add</i> </button> </span> </div> </td> <td> <div class='input-group'> <input type='text' name='objects[]' class='form-control' placeholder='Object'> </div> </td> <td> <div class='input-group'> <input type='text' name='helpers[]' class='form-control' placeholder='Helper'> </div> </td> <td> <div class='input-group' id='mod'> <input type='text' name='inputs[]' class='form-control' placeholder='Input %IO%' disabled> <span class='input-group-btn'> <button type='button' class='btn btn-fab btn-fab-mini' id='add_input' disabled> <i class='material-icons'>add</i> </button> </span> </div> </td> <td> <div class='input-group'> <input type='text' name='outputs[]' class='form-control'  placeholder='Output %IO%'> </div> </td> <td> <div class='input-group'> <select class='selectpicker form-control' name='tests[]'> <option value='O' data-icon='glyphicon-ok'></option> <option value='X' data-icon='glyphicon-remove'></option> </select> </div> </td> </tr>";
            group = group.replace(/%\w+%/g, function(all) {
                return replacements[all] || all;
            });

            $('#dynamicInput_group').append(group);
            $('.selectpicker').selectpicker('refresh');
        });

        $(document).on('click', '#add_func', function (e) {
            idx_func++;
            idx_io = 1;

            var replacements = {"%FUNC%":idx_func,"%IO%":idx_io};
            var func = "<tr> <td> <div class='input-group'> </div> </td> <td> <div class='input-group'> <input type='text'	name='functions[]' class='form-control' placeholder='Function %FUNC%'> </div> </td> <td> <div class='input-group'> <input type='text' name='objects[]' class='form-control' placeholder='Object'> </div> </td> <td> <div class='input-group'> <input type='text' name='helpers[]' class='form-control' placeholder='Helper'> </div> </td> <td> <div class='input-group' id='mod'> <input type='text' name='inputs[]' class='form-control' placeholder='Input %IO%' disabled> <span class='input-group-btn'> <button type='button' class='btn btn-fab btn-fab-mini' id='add_input' disabled> <i class='material-icons'>add</i> </button> </span> </div> </td> <td> <div class='input-group'> <input type='text' name='outputs[]' class='form-control' placeholder='Output %IO%'> </div> </td> <td> <div class='input-group'> <select class='selectpicker form-control' name='tests[]'> <option value='O' data-icon='glyphicon-ok'></option> <option value='X' data-icon='glyphicon-remove'></option> </select> </div> </td> </tr>";
            func = func.replace(/%\w+%/g, function(all) {
                return replacements[all] || all;
            });

            $('#dynamicInput_group').append(func);

            $('.selectpicker').selectpicker('refresh');     // TD:Test select option init.
        })

        $(document).on('click', '#mod', function (e) {
            console.log($('this'));
            $('#mod input, #mod span button').removeAttr('disabled');
        });

        $(document).on('click', '#add_input', function (e) {
            idx_io++;

            var inputTDtag = $(this).parent().parent().parent();
            var outputTDtag = inputTDtag.next();
            var testTDtag = outputTDtag.next();

            var replacements = {"%FUNC%":idx_func,"%IO%":idx_io};

            var inputTag = "<div class='input-group'> <input type='text' name='inputs[]' class='form-control' placeholder='Input %IO%' '> </div>";
            inputTag = inputTag.replace(/%\w+%/g, function(all) {
                return replacements[all] || all;
            });
            var outputTag = "<div class='input-group'><input type='text' name='outputs[]' class='form-control' placeholder='Output %IO%'></div>";
            outputTag = outputTag.replace(/%\w+%/g, function(all) {
                return replacements[all] || all;
            });


            inputTDtag.append(inputTag);
            outputTDtag.append(outputTag);
            testTDtag.append("<div class='input-group'><select class='selectpicker form-control' name='tests[]'> <option value='O' data-icon='glyphicon-ok'></option> <option value='X' data-icon='glyphicon-remove'></option> </select> </div>");

            $('.selectpicker').selectpicker('refresh');     // TD:Test select option init.
        });

        $(document).on('click', '.btn_remove', function (e) {
            var btn_id = this.id;
            $('#'+btn_id).remove();
        })
    });

    $(function() {
        $('input[name="date"]').daterangepicker({
            applyClass: "btn btn-success btn-raised",
            cancelClass: "btn btn-default btn-raised",
            autoApply: true,
            timePicker: true,
            timePickerIncrement: 30,
            locale: {
                format: 'YYYY.MM.DD A h:mm'
            }
        });
    });
</script>

</body>
</html>
